<div class="background">
  <div class="row container">
    <!-- Left Side -->
    <div class="col-4 left">
      <div class="row justify-content-center profile-pic-container">
        <div class="col-12 profile-pic">profile pic</div>
        <div class="col-12 name">name</div>
      </div>
      <div class="row pet-container">
        <div class="col-6 pet">cat/dog</div>
        <div class="col-6 pet">horse</div>
      </div>
      <div class="row birthday-container">
        <div class="col-6 season">season</div>
        <div class="col-6 day">day</div>
      </div>
    </div>

    <!-- Right Side -->
    <div class="col-8 right">
      <div class="row biography-container">
        <div class="col-8 biography">biography</div>
        <div class="col-4 character-pic">character pic</div>
      </div>
      <div class="row love-hate-banner">Loves and Hates</div>
      <div class="row love-hate-container">
        <div class="row-6 love-hate">
          <div class="col-1 love-icon">love</div>
          <div class="col-1 love">love</div>
          <div class="col-1 love">love</div>
          <div class="col-1 love">love</div>
          <div class="col-1 love">love</div>
          <div class="col-1 love">love</div>
          <div class="col-1 love">love</div>
          <div class="col-1 love">love</div>
        </div>
        <div class="row-6 love-hate">
          <div class="col-1 hate-icon">hate</div>
          <div class="col-1 hate">hate</div>
          <div class="col-1 hate">hate</div>
          <div class="col-1 hate">hate</div>
          <div class="col-1 hate">hate</div>
          <div class="col-1 hate">hate</div>
          <div class="col-1 hate">hate</div>
          <div class="col-1 hate">hate</div>
        </div>
      </div>
      <div class="row friendship-container">
        <div class="col-2 friend">spouse</div>
        <div class="col-2 friend">friend</div>
        <div class="col-2 friend">friend</div>
        <div class="col-2 friend">friend</div>
        <div class="col-2 friend">friend</div>
      </div>
    </div>
  </div>
</div>

