:host, .background {
  min-height: 100vh;
  width: 100vw;
  display: flex;
}

.background {
  background-image: url("../assets/background.jpg");
}

.container {
  height: 750px;
  margin: auto;
}

.left {
  background-color: aqua;
}

.right {
  background-color: mediumpurple;
}

.profile-pic-container {
  height: 450px;
  background-color: gray;
}

.profile-pic {
  height: 250px;
  width: 350px;
  background-color: yellow;
  margin-top: 40px;
}

.name {
  height: 65px;
  width: 350px;
  background-color: orange;
}

.pet-container {
  height: 150px;
  background-color: lightsalmon;
  display: flex;
  justify-content: space-evenly;
}

.pet {
  background-color: deeppink;
  height: 100px;
  width: 100px;
  margin-top: 25px;
}

.birthday-container {
  height: 150px;
  background-color: lightgreen;
  display: flex;
  justify-content: space-evenly;
}

.season {
  background-color: deepskyblue;
  height: 100px;
  width: 175px;
  margin-top: 25px;
}

.day {
  background-color: deepskyblue;
  height: 100px;
  width: 100px;
  margin-top: 25px;
}

.biography-container {
  height: 250px;
  background-color: pink;
  display: flex;
  justify-content: space-evenly;
}

.biography {
  background-color: greenyellow;
}

.character-pic {
  background-color: lightseagreen;
}

.love-hate-container {
  height: 235px;
  background-color: lightgoldenrodyellow;
}

.love-hate-banner {
  background-color: lightcoral;
  height: 65px;
}

.love-hate {
  background-color: lightcyan;
  display: flex;
  justify-content: space-evenly;
}

.love, .hate {
  background-color: hotpink;
  height: 75px;
  width: 75px;
  margin-top: 25px;
}

.love-icon, .hate-icon {
  background-color: hotpink;
  height: 50px;
  width: 50px;
  margin-top: 35px;
}

.friendship-container {
  background-color: mediumpurple;
  display: flex;
  justify-content: space-evenly;
}

.friend {
  background-color: deepskyblue;
  height: 150px;
  width: 150px;
  margin-top: 25px;
}


